/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";


@font-face {
	font-family: 'Morris Roman Black';
	src:font-url('MorrisRomanBlack.ttf') format('truetype');
}

body {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #22313F;
  font-weight: bold;
}

td, label, p, input, button {
	color: #2C3E50;
}

h3, .h3 {
  margin-top: 0px !important;
}

.navbar-nav > li > a {
	font-weight: bold;
	font-size: 16px !important;
}

.navbar-brand {
	font-family: 'Morris Roman Black';
	font-weight: bold;
}
